/* latin-ext */
@font-face {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 300 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/spacegrotesk/v22/V8mDoQDjQSkFtoMM3T6r8E7mPb94C-s0.woff2)
    format("woff2");
  unicode-range:
    U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304,
    U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 300 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/spacegrotesk/v22/V8mDoQDjQSkFtoMM3T6r8E7mPbF4Cw.woff2)
    format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: "DM Sans";
  font-style: italic;
  font-weight: 100 1000;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v17/rP2Fp2ywxg089UriCZa4ET-DNl0.woff2)
    format("woff2");
  unicode-range:
    U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304,
    U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "DM Sans";
  font-style: italic;
  font-weight: 100 1000;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v17/rP2Fp2ywxg089UriCZa4Hz-D.woff2)
    format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 100 1000;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v17/rP2Hp2ywxg089UriCZ2IHSeH.woff2)
    format("woff2");
  unicode-range:
    U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304,
    U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 100 1000;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v17/rP2Hp2ywxg089UriCZOIHQ.woff2)
    format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexmono/v20/-F63fjptAgt5VM-kVkqdyU8n1iEq129k.woff2)
    format("woff2");
  unicode-range:
    U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304,
    U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexmono/v20/-F63fjptAgt5VM-kVkqdyU8n1i8q1w.woff2)
    format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: "IBM Plex Mono";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexmono/v20/-F6pfjptAgt5VM-kVkqdyU8n1ioa23dgv-s.woff2)
    format("woff2");
  unicode-range:
    U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304,
    U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "IBM Plex Mono";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexmono/v20/-F6pfjptAgt5VM-kVkqdyU8n1ioa1Xdg.woff2)
    format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}

:root {
  --text-color: rgb(230, 240, 220);
  --body-bg: rgb(24, 24, 26);
  --nav-bg: rgb(0, 76, 148);
  --nav-bg-hover: rgb(128, 167, 203);
}

html,
body {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  margin: 0;
  background-color: var(--body-bg);
  box-sizing: border-box;
  color: var(--text-color);
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 1em;
}

h1 {
  font-family: "Space Grotesk", sans-serif;
  font-size: 3em;
  padding: 0;
  margin: 0;
}

h2 {
  font-family: "Space Grotesk", sans-serif;
  font-size: 2em;
  margin: 0;
  padding: 0;
}

h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 1.8em;
  margin: 0;
  padding: 0;
}

p {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6em;
  max-width: 72ch;
  padding: 0;
  margin: 0;
}

li {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6em;
  max-width: 72ch;
}

header {
  margin-top: 40px;
  margin-left: 80px;
  display: flex;
}

.align-right {
  display: flex;
  align-items: flex-end;
}

.my {
  margin-block: 16px;
}

.nav-element {
  position: relative;
  margin-left: -20px;
  padding-block: 8px;
  padding-left: 48px;
  padding-right: 48px;
  border: 2px solid var(--nav-bg);
  border-left: 0;
  border-radius: 0 100px 100px 0;
  corner-top-right-shape: bevel;
  corner-bottom-right-shape: bevel;
  background-color: var(--body-bg);
  transition:
    background-color 160ms ease-in-out,
    color 160ms ease-in-out;
}

.nav-element-rev {
  position: relative;
  margin-left: -20px;
  padding-block: 8px;
  padding-left: 48px;
  padding-right: 48px;
  border: 2px solid var(--nav-bg);
  border-radius: 100px 0 0 100px;
  corner-top-left-shape: bevel;
  corner-bottom-left-shape: bevel;
  background-color: var(--body-bg);
  transition:
    background-color 160ms ease-in-out,
    color 160ms ease-in-out;
}

.nav-element[active~="true"] {
  background-color: var(--nav-bg);
  border: 2px solid var(--nav-bg-hover);
  border-left: 0;
}

.nav-element:first-child {
  margin-left: 0;
  border-left: 2px solid var(--nav-bg-hover);
}

.nav-element:hover,
.nav-element-rev:hover {
  cursor: pointer;
  background-color: var(--nav-bg-hover);
  border-color: var(--nav-bg-hover);
  &.nav-text {
    color: black;
  }
}

.nav-text {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 1.4em;
  color: var(--text-color);
  text-decoration: none;
}

.content {
  margin-top: 40px;
  margin-left: 80px;
  margin-right: 80px;
  display: flex;
  flex-direction: column;
}

.card {
  margin-top: 24px;
  padding: 36px;
  border: 2px solid var(--nav-bg);
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.source {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 1.4em;
  font-style: italic;
  color: var(--text-color);
  text-decoration: none;
  transition: all 120ms ease-in-out;
}

.source:hover {
  color: var(--nav-bg-hover);
}

.continue {
  margin-top: 24px;
  padding-block: 12px;
  padding-inline: 24px;
  width: fit-content;
  border: 2px solid var(--nav-bg);
  border-radius: 16px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  color: var(--text-color);
  text-decoration: none;
  transition:
    background-color 160ms ease-in-out,
    color 160ms ease-in-out;
}

.continue:hover {
  cursor: pointer;
  background-color: var(--nav-bg-hover);
  border-color: var(--nav-bg-hover);
  color: black;
}

.output {
  margin-top: 24px;
  padding: 36px;
  background-color: black;
}

.output-text {
  margin-block: 8px;
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-style: normal;
  color: goldenrod;
}
